language: ruby
sudo: false
cache: bundler
before_install: gem install bundler
script: bundle exec rake
matrix:
  fast_finish: true
  include:
    - rvm: ruby-head
      gemfile: Gemfile
    - rvm: 2.5.0
      gemfile: Gemfile
    - rvm: 2.4.2
      gemfile: Gemfile
    - rvm: 2.4.0
      gemfile: Gemfile
    - rvm: 2.3.5
      gemfile: Gemfile
    - rvm: 2.3.1
      gemfile: Gemfile
    - rvm: 2.2.5
      gemfile: gemfiles/activerecord42.gemfile
    - rvm: 2.2.0
      gemfile: gemfiles/activerecord42.gemfile
