language: ruby
sudo: false
cache: bundler
env: JRUBY_OPTS= --debug
before_install: gem install bundler
script: JRUBY_OPTS="--1.9 -Xcext.enabled=true" bundle exec rspec
rvm:
  - 2.2.0
  - 2.2.5
  - 2.3.1
  - 2.4.0
  - jruby-9.0.0.0
  - jruby-9.1.13.0
  - jruby-head
  - ruby-head
matrix:
  allow_failures:
    - rvm: ruby-head
    - rvm: jruby-head
